Repository neko-jpg/MinQ, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team, @backend-team, @frontend-team, @design-team, @qa-team, @devops-team, @documentation-team, @tech-lead

Add automation docs and workflows for operations tasks
  .github/workflows/api-docs.yml
  .github/workflows/backend-cost-alert.yml
  .github/workflows/carbon-report.yml
  .github/workflows/contrast-check.yml
  .github/workflows/kpi-snapshot.yml
  .github/workflows/sca.yml
  config/backend_cost_thresholds.yaml
  docs/API_DOCUMENTATION.md
  docs/APP_STARTUP_PRELOAD_STRATEGY.md
  docs/BACKEND_COST_ALERTS.md
  docs/CARBON_FOOTPRINT_STRATEGY.md
  docs/CDN_HEADER_OPTIMIZATION.md
  docs/CHAOS_TESTING_PLAN.md
  docs/FUZZ_TESTING_PLAN.md
  docs/KPI_SNAPSHOT_AUTOMATION.md
  docs/MULTI_REGION_REPLICATION.md
  docs/SECURITY_POLICY.md
  pubspec.lock
  pubspec.yaml
  task.md
  tool/backend_cost_alert.dart
  tool/carbon_report.dart
  tool/contrast_check.dart
  tool/generate_api_docs.sh
  tool/kpi_snapshot.dart
  tool/osv-scanner-config.toml
  tool/sample_data/backend_cost_payload.example.json
  tool/sample_data/ci_runs.example.csv
  tool/sample_data/gcp_usage.example.csv
  tool/sample_data/kpi_payload.example.json
Owners: @devops-team, @team, @documentation-team, @tech-lead

Add automation docs and workflows for operations tasks
  .github/workflows/api-docs.yml
  .github/workflows/backend-cost-alert.yml
  .github/workflows/carbon-report.yml
  .github/workflows/contrast-check.yml
  .github/workflows/kpi-snapshot.yml
  .github/workflows/sca.yml
  config/backend_cost_thresholds.yaml
  docs/API_DOCUMENTATION.md
  docs/APP_STARTUP_PRELOAD_STRATEGY.md
  docs/BACKEND_COST_ALERTS.md
  docs/CARBON_FOOTPRINT_STRATEGY.md
  docs/CDN_HEADER_OPTIMIZATION.md
  docs/CHAOS_TESTING_PLAN.md
  docs/FUZZ_TESTING_PLAN.md
  docs/KPI_SNAPSHOT_AUTOMATION.md
  docs/MULTI_REGION_REPLICATION.md
  docs/SECURITY_POLICY.md
  pubspec.lock
  pubspec.yaml
  task.md
  tool/backend_cost_alert.dart
  tool/carbon_report.dart
  tool/contrast_check.dart
  tool/generate_api_docs.sh
  tool/kpi_snapshot.dart
  tool/osv-scanner-config.toml
  tool/sample_data/backend_cost_payload.example.json
  tool/sample_data/ci_runs.example.csv
  tool/sample_data/gcp_usage.example.csv
  tool/sample_data/kpi_payload.example.json
Owners: @devops-team, @team, @documentation-team, @tech-lead

feat: enhance accessibility tokens and add theme tests
  lib/presentation/common/minq_skeleton.dart
  lib/presentation/common/sharing/progress_share_card.dart
  lib/presentation/screens/pair/chat_screen.dart
  lib/presentation/theme/animation_system.dart
  lib/presentation/theme/focus_system.dart
  lib/presentation/widgets/image_placeholder.dart
  lib/presentation/widgets/offline_mode_indicator.dart
  lib/presentation/widgets/stats_chart_with_tooltip.dart
  task.md
  test/presentation/theme/animation_system_test.dart
  test/presentation/theme/contrast_validator_test.dart
  test/presentation/theme/focus_system_test.dart
  test/presentation/theme/text_overflow_policy_test.dart
Owners: @frontend-team, @design-team, @documentation-team, @qa-team

feat: enhance accessibility tokens and add theme tests
  lib/presentation/common/minq_skeleton.dart
  lib/presentation/common/sharing/progress_share_card.dart
  lib/presentation/screens/pair/chat_screen.dart
  lib/presentation/theme/animation_system.dart
  lib/presentation/theme/focus_system.dart
  lib/presentation/widgets/image_placeholder.dart
  lib/presentation/widgets/offline_mode_indicator.dart
  lib/presentation/widgets/stats_chart_with_tooltip.dart
  task.md
  test/presentation/theme/animation_system_test.dart
  test/presentation/theme/contrast_validator_test.dart
  test/presentation/theme/focus_system_test.dart
  test/presentation/theme/text_overflow_policy_test.dart
Owners: @frontend-team, @design-team, @documentation-team, @qa-team

Implement extended growth features and offline tooling
  lib/data/team/team_habit_repository.dart
  lib/domain/calendar/holiday_sync_service.dart
  lib/domain/notification/geofenced_notification_service.dart
  lib/domain/notification/personalized_push_scheduler.dart
  lib/domain/offline/offline_mode_manager.dart
  lib/domain/recommendation/quest_recommendation_service.dart
  lib/domain/team/team_habit.dart
  lib/presentation/widgets/ime_safe_area.dart
  lib/presentation/widgets/user_behavior_heatmap.dart
  pubspec.yaml
  task.md
  test/data/team/team_habit_repository_test.dart
  test/domain/calendar/holiday_sync_service_test.dart
  test/domain/notification/geofenced_notification_service_test.dart
  test/domain/notification/personalized_push_scheduler_test.dart
  test/domain/offline/offline_mode_manager_test.dart
  test/domain/recommendation/quest_recommendation_service_test.dart
  test/presentation/widgets/ime_safe_area_test.dart
  test/presentation/widgets/user_behavior_heatmap_test.dart
  tool/backup/diff_backup.dart
  web/index.html
  web/manifest.json
  web/pwa_install.js
Owners: @backend-team, @team, @frontend-team, @tech-lead, @documentation-team, @qa-team

Implement extended growth features and offline tooling
  lib/data/team/team_habit_repository.dart
  lib/domain/calendar/holiday_sync_service.dart
  lib/domain/notification/geofenced_notification_service.dart
  lib/domain/notification/personalized_push_scheduler.dart
  lib/domain/offline/offline_mode_manager.dart
  lib/domain/recommendation/quest_recommendation_service.dart
  lib/domain/team/team_habit.dart
  lib/presentation/widgets/ime_safe_area.dart
  lib/presentation/widgets/user_behavior_heatmap.dart
  pubspec.yaml
  task.md
  test/data/team/team_habit_repository_test.dart
  test/domain/calendar/holiday_sync_service_test.dart
  test/domain/notification/geofenced_notification_service_test.dart
  test/domain/notification/personalized_push_scheduler_test.dart
  test/domain/offline/offline_mode_manager_test.dart
  test/domain/recommendation/quest_recommendation_service_test.dart
  test/presentation/widgets/ime_safe_area_test.dart
  test/presentation/widgets/user_behavior_heatmap_test.dart
  tool/backup/diff_backup.dart
  web/index.html
  web/manifest.json
  web/pwa_install.js
Owners: @backend-team, @team, @frontend-team, @tech-lead, @documentation-team, @qa-team

Add test coverage and dependency guard tooling
  .pre-commit-config.yaml
  analysis_options.yaml
  docs/tutorial_pipeline.md
  lib/config/stripe_config.dart
  lib/data/providers.dart
  lib/data/repositories/contact_link_repository.dart
  lib/data/services/focus_music_service.dart
  lib/data/services/local_preferences_service.dart
  lib/data/services/notification_service.dart
  lib/data/services/remote_config_service.dart
  lib/data/services/speech_input_service.dart
  lib/data/services/stripe_billing_service.dart
  lib/data/services/usage_limit_service.dart
  lib/data/services/webhook_dispatch_service.dart
  lib/domain/notification/notification_sound_profile.dart
  lib/domain/recommendation/habit_ai_suggestion_service.dart
  lib/presentation/controllers/quest_log_controller.dart
  lib/presentation/controllers/usage_limit_controller.dart
  lib/presentation/routing/app_router.dart
  lib/presentation/screens/create_quest_screen.dart
  lib/presentation/screens/edit_quest_screen.dart
  lib/presentation/screens/pair/chat_screen.dart
  lib/presentation/screens/quest_detail_screen.dart
  lib/presentation/screens/quests_screen.dart
  lib/presentation/screens/record_screen.dart
  lib/presentation/screens/settings_screen.dart
  lib/presentation/screens/shell_screen.dart
  pubspec.lock
  pubspec.yaml
  scripts/run_coverage.sh
  task.md
  test/data/repositories/contact_link_repository_test.dart
  test/data/services/focus_music_service_test.dart
  test/data/services/stripe_billing_service_test.dart
  test/data/services/usage_limit_service_test.dart
  test/data/services/webhook_dispatch_service_test.dart
  test/domain/recommendation/habit_ai_suggestion_service_test.dart
  test/presentation/controllers/usage_limit_controller_test.dart
  tool/check_coverage.dart
  tool/tutorial_pipeline/generate_tutorial.dart
Owners: @team, @tech-lead, @documentation-team, @backend-team, @frontend-team, @devops-team, @qa-team

Add test coverage and dependency guard tooling
  .pre-commit-config.yaml
  analysis_options.yaml
  docs/tutorial_pipeline.md
  lib/config/stripe_config.dart
  lib/data/providers.dart
  lib/data/repositories/contact_link_repository.dart
  lib/data/services/focus_music_service.dart
  lib/data/services/local_preferences_service.dart
  lib/data/services/notification_service.dart
  lib/data/services/remote_config_service.dart
  lib/data/services/speech_input_service.dart
  lib/data/services/stripe_billing_service.dart
  lib/data/services/usage_limit_service.dart
  lib/data/services/webhook_dispatch_service.dart
  lib/domain/notification/notification_sound_profile.dart
  lib/domain/recommendation/habit_ai_suggestion_service.dart
  lib/presentation/controllers/quest_log_controller.dart
  lib/presentation/controllers/usage_limit_controller.dart
  lib/presentation/routing/app_router.dart
  lib/presentation/screens/create_quest_screen.dart
  lib/presentation/screens/edit_quest_screen.dart
  lib/presentation/screens/pair/chat_screen.dart
  lib/presentation/screens/quest_detail_screen.dart
  lib/presentation/screens/quests_screen.dart
  lib/presentation/screens/record_screen.dart
  lib/presentation/screens/settings_screen.dart
  lib/presentation/screens/shell_screen.dart
  pubspec.lock
  pubspec.yaml
  scripts/run_coverage.sh
  task.md
  test/data/repositories/contact_link_repository_test.dart
  test/data/services/focus_music_service_test.dart
  test/data/services/stripe_billing_service_test.dart
  test/data/services/usage_limit_service_test.dart
  test/data/services/webhook_dispatch_service_test.dart
  test/domain/recommendation/habit_ai_suggestion_service_test.dart
  test/presentation/controllers/usage_limit_controller_test.dart
  tool/check_coverage.dart
  tool/tutorial_pipeline/generate_tutorial.dart
Owners: @team, @tech-lead, @documentation-team, @backend-team, @frontend-team, @devops-team, @qa-team

Add legacy design token bridges for analyzer compatibility
  analysis_options.yaml
  lib/presentation/common/sharing/progress_share_card.dart
  lib/presentation/screens/account_deletion_screen.dart
  lib/presentation/screens/diagnostic_screen.dart
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/onboarding_screen.dart
  lib/presentation/theme/app_theme.dart
  lib/presentation/theme/minq_theme.dart
  lib/presentation/theme/spacing_system.dart
  lib/presentation/theme/typography_system.dart
  lib/presentation/widgets/scroll_indicator.dart
  scripts/generate_screenshots.dart
Owners: @tech-lead, @frontend-team, @design-team, @devops-team

Update task.md
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Create AGENTS.md
  AGENTS.md
Owners: @documentation-team

Create AGENTS.md
  AGENTS.md
Owners: @documentation-team

Update AGENTS.md
  AGENTS.md
Owners: @documentation-team

Update AGENTS.md
  AGENTS.md
Owners: @documentation-team

chore: add lint zero campaign task
  task.md
Owners: @documentation-team

chore: add lint zero campaign task
  task.md
Owners: @documentation-team

chore(tasks): log card surface unification
  lib/presentation/screens/data_migration_guide_screen.dart
  lib/presentation/screens/subscription_screen.dart
  lib/presentation/theme/build_theme.dart
  task.md
Owners: @frontend-team, @design-team, @documentation-team

chore: add legacy design shims
  lib/presentation/theme/spacing_system.dart
  lib/presentation/theme/typography_system.dart
  packages/vendor/jni/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  test/presentation/controllers/usage_limit_controller_test.dart
Owners: @design-team, @team, @tech-lead, @qa-team

Phase 2: 型安全性の確保 - Type safety improvements
  .kiro/specs/error-reduction/tasks.md
  lib/core/network/network_status_service.dart
  lib/data/services/analytics_service.dart
  lib/data/services/referral_service.dart
  lib/domain/recommendation/quest_recommendation_service.dart
  lib/presentation/screens/changelog_screen.dart
  lib/presentation/screens/today_logs_screen.dart
  lib/presentation/widgets/offline_mode_indicator.dart
  lib/presentation/widgets/quest_attributes_selector.dart
Owners: @documentation-team, @backend-team, @team, @frontend-team

Phase 3: Fix BuildContext async gap warnings - Add context.mounted checks after async operations
  lib/presentation/screens/today_logs_screen.dart
Owners: @frontend-team

Phase 4: Migrate deprecated APIs - RawKeyEvent to KeyEvent migration
  .kiro/specs/error-reduction/tasks.md
  lib/presentation/theme/focus_system.dart
Owners: @documentation-team, @design-team

feat: Complete error reduction project - Phase 8 final verification and documentation
  .kiro/specs/error-reduction/tasks.md
  ERROR_REDUCTION_PLAN.md
  ERROR_REDUCTION_SUMMARY.md
  lib/core/notifications/notification_throttle_service.dart
  lib/core/notifications/summary_notification_service.dart
  lib/core/security/play_integrity_service.dart
  lib/core/update/in_app_update_service.dart
  lib/data/services/remote_config_service.dart
  lib/data/services/support_chat_service.dart
  lib/domain/badge/badge.g.dart
  lib/domain/log/quest_log.g.dart
  lib/domain/pair/chat_message.g.dart
  lib/domain/quest/quest.g.dart
  lib/domain/user/user.g.dart
  lib/presentation/common/feedback/feedback_messenger.dart
  lib/presentation/common/sharing/progress_share_card.dart
  lib/presentation/controllers/quest_log_controller.dart
  lib/presentation/screens/changelog_screen.dart
  lib/presentation/screens/create_quest_screen.dart
  lib/presentation/screens/diagnostic_screen.dart
  lib/presentation/screens/pair/share_progress_sheet.dart
  lib/presentation/screens/pair_screen.dart
  lib/presentation/screens/quests_screen.dart
  lib/presentation/screens/today_logs_screen.dart
  test/data/repositories/auth_repository_test.dart.skip
  test/data/repositories/auth_repository_test.mocks.dart
  test/data/repositories/contact_link_repository_test.dart.skip
  test/data/repositories/user_repository_test.dart
  test/data/repositories/user_repository_test.dart.skip
  test/data/repositories/user_repository_test.mocks.dart
  test/data/services/focus_music_service_test.dart
  test/data/services/stripe_billing_service_test.dart
  test/data/services/usage_limit_service_test.dart
  test/data/services/webhook_dispatch_service_test.dart
  test/domain/recommendation/habit_ai_suggestion_service_test.dart
  test/time_consistency_service_test.mocks.dart
Owners: @documentation-team, @backend-team, @team, @frontend-team, @qa-team

error reduction: update tasks.md
  .kiro/specs/error-reduction/tasks.md
Owners: @documentation-team

fix: stabilize datetime tests and recommendation scoring
  lib/domain/recommendation/quest_recommendation_service.dart
  test/unit/datetime_edge_cases_test.dart
Owners: @team, @qa-team

Delete AGENTS.md
  AGENTS.md
Owners: @documentation-team

Delete AGENTS.md
  AGENTS.md
Owners: @documentation-team

Adjust analyzer scope and modernize AI banner generator
  analysis_options.yaml
  packages/integrations/lib/share/ai_banner_generator.dart
Owners: @tech-lead, @team

Adjust analyzer scope and modernize AI banner generator
  analysis_options.yaml
  packages/integrations/lib/share/ai_banner_generator.dart
Owners: @tech-lead, @team

docs: add analyze test report
  docs/analyze_test_report.md
Owners: @documentation-team

docs: add analyze test report
  docs/analyze_test_report.md
Owners: @documentation-team

Create color.md
  color.md
Owners: @documentation-team

Create color.md
  color.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Create color.md
  color.md
Owners: @documentation-team

Create color.md
  color.md
Owners: @documentation-team

Create AGENTS.md
  AGENTS.md
Owners: @documentation-team

Create AGENTS.md
  AGENTS.md
Owners: @documentation-team

feat: improve home focus layout spacing
  PLAN.md
  lib/presentation/screens/home_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

.github/CODEOWNERS:

# CODEOWNERS
# これらのファイルの変更には指定されたレビュアーの承認が必要です

# デフォルトオーナー
* @team

# コアロジック
/lib/core/ @backend-team
/lib/data/ @backend-team

# UI/UX
/lib/presentation/ @frontend-team
/lib/presentation/theme/ @design-team

# テスト
/test/ @qa-team

# CI/CD
/.github/ @devops-team
/scripts/ @devops-team

# ドキュメント
/docs/ @documentation-team
*.md @documentation-team

# 設定ファイル
/pubspec.yaml @tech-lead
/analysis_options.yaml @tech-lead
