Repository neko-jpg/MinQ, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team, @backend-team, @frontend-team, @design-team, @qa-team, @devops-team, @documentation-team, @tech-lead

.github/CODEOWNERS:

# CODEOWNERS
# これらのファイルの変更には指定されたレビュアーの承認が必要です

# デフォルトオーナー
* @team

# コアロジック
/lib/core/ @backend-team
/lib/data/ @backend-team

# UI/UX
/lib/presentation/ @frontend-team
/lib/presentation/theme/ @design-team

# テスト
/test/ @qa-team

# CI/CD
/.github/ @devops-team
/scripts/ @devops-team

# ドキュメント
/docs/ @documentation-team
*.md @documentation-team

# 設定ファイル
/pubspec.yaml @tech-lead
/analysis_options.yaml @tech-lead

feat: improve home focus layout spacing
  PLAN.md
  lib/presentation/screens/home_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

Update task.md
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

feat: improve quest search filtering and guidance
  PLAN.md
  lib/presentation/screens/quests_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

feat: improve quest search filtering and guidance
  PLAN.md
  lib/presentation/screens/quests_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

Implement data export and crash recovery improvements
  PLAN.md
  lib/core/export/data_export_service.dart
  lib/data/providers.dart
  lib/presentation/screens/crash_recovery_screen.dart
  lib/presentation/screens/edit_quest_screen.dart
  lib/presentation/screens/settings_screen.dart
  task.md
Owners: @documentation-team, @backend-team, @frontend-team

Implement data export and crash recovery improvements
  PLAN.md
  lib/core/export/data_export_service.dart
  lib/data/providers.dart
  lib/presentation/screens/crash_recovery_screen.dart
  lib/presentation/screens/edit_quest_screen.dart
  lib/presentation/screens/settings_screen.dart
  task.md
Owners: @documentation-team, @backend-team, @frontend-team

feat: enhance home and onboarding experiences
  PLAN.md
  lib/presentation/common/policy_documents.dart
  lib/presentation/routing/app_router.dart
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/login_screen.dart
  lib/presentation/screens/onboarding_screen.dart
  lib/presentation/screens/policy_viewer_screen.dart
  pubspec.lock
  pubspec.yaml
  task.md
Owners: @documentation-team, @frontend-team, @team, @tech-lead

feat: enhance home and onboarding experiences
  PLAN.md
  lib/presentation/common/policy_documents.dart
  lib/presentation/routing/app_router.dart
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/login_screen.dart
  lib/presentation/screens/onboarding_screen.dart
  lib/presentation/screens/policy_viewer_screen.dart
  pubspec.lock
  pubspec.yaml
  task.md
Owners: @documentation-team, @frontend-team, @team, @tech-lead

feat: enhance home states and clean up placeholder flows
  PLAN.md
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/profile_setting_screen.dart
  lib/presentation/screens/record_screen.dart
  lib/presentation/screens/today_logs_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

feat: enhance home states and clean up placeholder flows
  PLAN.md
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/profile_setting_screen.dart
  lib/presentation/screens/record_screen.dart
  lib/presentation/screens/today_logs_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

Implement AI focus recommendations and navigation safeguards
  PLAN.md
  lib/core/sharing/ai_share_banner_service.dart
  lib/data/providers.dart
  lib/domain/home/home_view_data.dart
  lib/domain/recommendation/daily_focus_service.dart
  lib/presentation/common/dialogs/discard_changes_dialog.dart
  lib/presentation/controllers/home_data_controller.dart
  lib/presentation/routing/app_router.dart
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/login_screen.dart
  lib/presentation/screens/notification_settings_screen.dart
  lib/presentation/screens/quests_screen.dart
  lib/presentation/screens/record_screen.dart
  lib/presentation/screens/settings_screen.dart
  lib/presentation/screens/support_screen.dart
  task.md
Owners: @documentation-team, @backend-team, @team, @frontend-team

Implement AI focus recommendations and navigation safeguards
  PLAN.md
  lib/core/sharing/ai_share_banner_service.dart
  lib/data/providers.dart
  lib/domain/home/home_view_data.dart
  lib/domain/recommendation/daily_focus_service.dart
  lib/presentation/common/dialogs/discard_changes_dialog.dart
  lib/presentation/controllers/home_data_controller.dart
  lib/presentation/routing/app_router.dart
  lib/presentation/screens/home_screen.dart
  lib/presentation/screens/login_screen.dart
  lib/presentation/screens/notification_settings_screen.dart
  lib/presentation/screens/quests_screen.dart
  lib/presentation/screens/record_screen.dart
  lib/presentation/screens/settings_screen.dart
  lib/presentation/screens/support_screen.dart
  task.md
Owners: @documentation-team, @backend-team, @team, @frontend-team

feat: enable multi-reminder quest settings
  PLAN.md
  lib/core/reminders/multiple_reminder_service.dart
  lib/data/providers.dart
  lib/presentation/screens/edit_quest_screen.dart
  task.md
Owners: @documentation-team, @backend-team, @frontend-team

feat: enable multi-reminder quest settings
  PLAN.md
  lib/core/reminders/multiple_reminder_service.dart
  lib/data/providers.dart
  lib/presentation/screens/edit_quest_screen.dart
  task.md
Owners: @documentation-team, @backend-team, @frontend-team

feat(theme): migrate to design color tokens
  PLAN.md
  lib/core/error/error_boundary.dart
  lib/core/image/image_upload_service.dart
  lib/presentation/theme/build_theme.dart
  lib/presentation/theme/color_tokens.dart
  lib/presentation/theme/green_dark_theme.dart
  lib/presentation/theme/minq_theme.dart
  task.md
Owners: @documentation-team, @backend-team, @design-team

feat(theme): migrate to design color tokens
  PLAN.md
  lib/core/error/error_boundary.dart
  lib/core/image/image_upload_service.dart
  lib/presentation/theme/build_theme.dart
  lib/presentation/theme/color_tokens.dart
  lib/presentation/theme/green_dark_theme.dart
  lib/presentation/theme/minq_theme.dart
  task.md
Owners: @documentation-team, @backend-team, @design-team

Update task.md
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

feat: add safe back navigation helper
  lib/presentation/routing/navigation_extensions.dart
  lib/presentation/screens/accessibility_settings_screen.dart
  lib/presentation/screens/achievements_screen.dart
  lib/presentation/screens/community_board_screen.dart
  lib/presentation/screens/create_quest_screen.dart
  lib/presentation/screens/diagnostic_screen.dart
  lib/presentation/screens/edit_quest_screen.dart
  lib/presentation/screens/habit_template_screen.dart
  lib/presentation/screens/pair/pair_matching_screen.dart
  lib/presentation/screens/pair_screen.dart
  lib/presentation/screens/policy_viewer_screen.dart
  lib/presentation/screens/profile_screen.dart
  lib/presentation/screens/profile_setting_screen.dart
  lib/presentation/screens/quest_detail_screen.dart
  lib/presentation/screens/quests_screen.dart
  lib/presentation/screens/settings_screen.dart
  lib/presentation/screens/stats_screen.dart
  lib/presentation/screens/today_logs_screen.dart
  task.md
  test/presentation/routing/navigation_extensions_test.dart
Owners: @frontend-team, @documentation-team, @qa-team

feat: finalize welcome navigation polish
  PLAN.md
  lib/presentation/welcome/welcome_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

feat: finalize welcome navigation polish
  PLAN.md
  lib/presentation/welcome/welcome_screen.dart
  task.md
Owners: @documentation-team, @frontend-team

Update AGENTS.md
  AGENTS.md
Owners: @documentation-team

Update AGENTS.md
  AGENTS.md
Owners: @documentation-team

Create next task.md
  nexttask.md
Owners: @documentation-team

Create next task.md
  nexttask.md
Owners: @documentation-team

Update nexttask.md
  nexttask.md
Owners: @documentation-team

Update nexttask.md
  nexttask.md
Owners: @documentation-team

Update nexttask.md
  nexttask.md
Owners: @documentation-team

Update nexttask.md
  nexttask.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Update task checklist and add MinQ enhancement strategies
  task.md
Owners: @documentation-team

Update task checklist and add MinQ enhancement strategies
  task.md
Owners: @documentation-team

Update fmt.Println message to 'Goodbye World'
  task.md
Owners: @documentation-team

Update fmt.Println message to 'Goodbye World'
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Update task.md
  task.md
Owners: @documentation-team

Remove flutter_gemma dependencies and related files
  flutter_gemmaによるオンデバイスAI：開発者向け完全ガイド.md
  gemma.md
  gemma_test_simple.md
  lib/main.dart
Owners: @documentation-team, @team

Fix analyzer and test failures
  assets/sounds/.gitkeep
  lib/core/account/account_deletion_service.dart
  lib/core/ai/failure_prediction_service.dart
  lib/core/ai/weekly_report_service.dart
  lib/core/archive/archive_service.dart
  lib/core/audio/sound_effects_service.dart
  lib/core/battle/battle_service.dart
  lib/core/challenges/challenge_service.dart
  lib/core/context/context_aware_service.dart
  lib/core/crashlytics/crashlytics_service.dart
  lib/core/device/device_info_service.dart
  lib/core/feature_flags/kill_switch.dart
  lib/core/logging/app_logger.dart
  lib/core/monitoring/app_monitoring_service.dart
  lib/core/monitoring/notification_service.dart
  lib/core/pair/pair_dissolution_service.dart
  lib/core/reminders/multiple_reminder_service.dart
  lib/core/sharing/ogp_image_generator.dart
  lib/core/tags/tag_service.dart
  lib/core/validation/nickname_validator.dart
  lib/core/version/version_check_service.dart
  lib/data/services/webhook_dispatch_service.dart
  lib/presentation/screens/battle_screen.dart
  lib/presentation/screens/pair/share_progress_sheet.dart
  lib/presentation/screens/pair_screen.dart
  lib/presentation/screens/settings_screen.dart
Owners: @team, @backend-team, @frontend-team
